{% extends 'global/pages/base_home_casas.html' %} {% block titulo %}Membros{% endblock titulo%} {% block css_casa %} {% load static %}
<link rel="stylesheet" href="{% static 'lufalufa/css/lufalufa.css' %}"> {% endblock css_casa %} {% block menu_casa%} {% include 'lufalufa/partials/menu-lufalufa.html' %} {% endblock menu_casa %} {% block main %} {% load static %} <main class="yellow">
    <!-- SECTION MEMBERS -->
    <section>
        <h2 id="section-house-members" style="margin-left: 300px;">Principais Membros</h2>
        <p id="membros" style="margin-left: 300px;">Os principais membros da casa Lufa-Lufa são:</p>
        <img id="harry" style="border-radius: 50%; margin-left: 300px; width: 300px;" src="{% static 'lufalufa/imgs/member_hufflepuff_01.jpg' %}" alt="Cedrico Diggory">
        <img id="hermione" style="border-radius: 50%; width: 300px;" src="{% static 'lufalufa/imgs/member_hufflepuff_02.jpg' %}" alt="Newton Scamander">
        <img id="rony" style="border-radius: 50%; width: 300px;" src="{% static 'lufalufa/imgs/member_hufflepuff_03.jpg' %}" alt="Ninfadora Tonks">
        <div class="actions">
            <div class="button-wrapper">
                <div class="button-detail button-detail-left"></div>
                <button style="margin-left: 400px;">
                    <span>Cedrico Diggory & Newton Scamander & Ninfadora Tonks</span>
                </button>
                <div class="button-detail button-detail-right"></div>
            </div>
        </div>
    </section>
</main> {% endblock main %}
