{% extends 'global/pages/base_home_casas.html' %} {% block titulo %}Membros{% endblock titulo%} {% block css_casa %} {% load static %}
<link rel="stylesheet" href="{% static 'grifinoria/css/grifinoria.css' %}"> {% endblock css_casa %} {% block menu_casa%} {% include 'grifinoria/partials/menu-grifinoria.html' %} {% endblock menu_casa %} {% block main %} {% load static %} <main class="red">
    <!-- SECTION MEMBERS -->
    <section>
        <h2 id="section-house-members" style="margin-left: 300px;">Principais Membros</h2>
        <p id="membros" style="margin-left: 300px;">Os principais membros da casa Grifinória são:</p>
        <img id="harry" style="border-radius: 50%; margin-left: 300px;" src="{% static 'grifinoria/imgs/member_gryffindor_01.jpg' %}" alt="Harry Potter">
        <img id="hermione" style="border-radius: 50%;" src="{% static 'grifinoria/imgs/member_gryffindor_02.jpg' %}" alt="Hermione Granger">
        <img id="rony" style="border-radius: 50%; width: 25%;" src="{% static 'grifinoria/imgs/member_gryffindor_03.jpg' %}" alt="Ron Wesley">
        <div class="actions">
            <div class="button-wrapper">
                <div class="button-detail button-detail-left"></div>
                <button style="margin-left: 400px;">
                    <span>Harry Potter & Hermione Granger & Rony Weasley</span>
                </button>
                <div class="button-detail button-detail-right"></div>
            </div>
        </div>
    </section>
</main> {% endblock main %} {% block cor_logo %}<img src="{% static '/global/imgs/grifinoria/logo-hp-red.png' %}" alt="Harry Potter">{% endblock cor_logo %}
