{% extends 'global/pages/base_home_casas.html' %} {% block titulo %}Corvinal{% endblock titulo%} {% block css_casa %}{% load static %}
<link rel="stylesheet" href="{% static 'corvinal/css/corvinal.css' %}"> {% endblock css_casa %} {% block menu_casa%} {% include 'corvinal/partials/menu-corvinal.html' %} {% endblock menu_casa %} {% block main %} {% load static %} <main class="blue">
    <!-- SECTION DIVIDER -->
    <div class="section-divider container">
        <div class="section-divider-border"></div>
        <img src="{% static '/global/imgs/global/harry-potter-icon.png' %}" class="divider-icon" style="margin-left: 50px;">
        <div class="section-divider-border"></div>
    </div>
    <div class="section-image">
        <h2 id="title-grif">Corvinal</h2>
        <img class="brasao" src="{% static '/global/imgs/corvinal/brasao.png' %}" style="height: 300px;" alt="brasao">
    </div>
    </div>
</main> {% endblock main %} {% block cor_logo %}<img src="{% static '/global/imgs/corvinal/logo-hp-blue.png' %}" alt="Harry Potter">{% endblock cor_logo %}
